[submodule "BiNinjaAdmin"]
        path = BiNinjaAdmin
        url = https://github.com/Koefflitz/BiNinjaAdmin.git
[submodule "BiNinjaCore"]
        path = BiNinjaCore
        url = https://github.com/Koefflitz/BiNinjaCore.git
[submodule "BiNinjaClient"]
        path = BiNinjaClient
        url = https://github.com/Koefflitz/BiNinjaClient.git
[submodule "BiNinjaServer"]
        path = BiNinjaServer
        url = https://github.com/Koefflitz/BiNinjaServer.git
